.Details {
  display: block;
  position: relative;
  margin-top: -120px;
  z-index: -1;
  padding-top: 200px;
  background: var(--Gray);
}

.Details__content {
  margin-bottom: 100px;
}
.Details__container {
  display: inline-block;
  margin: auto;
}
