.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.Navbar nav {
  display: none;
}

.Navbar__hamburgerMenu {
  border: none;
  background: none;
  height: 100%;
}

.Navbar__hamburgerMenu span {
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  margin-bottom: 6px;
  background-color: var(--Gray);
}

.Navbar__hamburgerMenu span:nth-of-type(3) {
  margin: 0;
}
